<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商家登录</title>
    <link rel="stylesheet" th:href="@{/static/css/user.css}">
</head>
<body>
<div class="login-box">
    <h2>商家登录</h2>
    <form th:action="@{/login}" method="post">
        <div class="user-box">
            <label>用户名</label>
            <input type="text"  placeholder="请输入用户名"  name="username" required="">

        </div>
        <div class="user-box">
            <label>密码</label>
            <input type="password"  placeholder="请输入密码" name="password" required="">
        </div>
        <button type="submit" class="login-btn">登录</button>
    </form>
    <p th:text="${msg}" style="color:red"></p>
    <br>
    <a style="font-size: 12px" th:href="@{'/toRegister'}">没有账号?点击注册</a>
</div>

</body>
</html>