<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加商品信息</title>
    <link rel="stylesheet" th:href="@{/static/css/addOrUpdate.css}">
</head>
<body>
<div style="padding: 50px;">
    <h1>添加商品信息</h1>
    <form method="post">
        果蔬名称:<input type="text" name="name" id="name"><br>
        产地:<br><select name="areaId" id="areaId">
                    <option value="">请选择产地</option>
                </select><br>
        图片链接:<input type="text" name="img" id="img"><br>
        规格:<input type="text" name="specification"><br>
        产品特色:<input type="checkbox" name="features" value="新鲜"> 新鲜
        <input type="checkbox" name="features" value="香甜"> 香甜
        <input type="checkbox" name="features" value="个大"> 个大
        <input type="checkbox" name="features" value="其他" id="otherCheckbox"> 其他<br>
        <textarea name="otherDescription" id="otherDescription" rows="4" cols="50"
                  style="display: none;"></textarea><br>
        单价:<input type="text" name="price"><br>
        发布时间:<input type="text" name="createTime"><br>
        是否公开:<input type="radio" name="isPublic" value="1"> 是
        <input type="radio" name="isPublic" value="0"> 否<br>
        <input type="button" value="添加" onclick="submitForm()"><br>
    </form>
</div>

<script th:src="@{/static/js/jquery-3.6.0.min.js}"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/getAllArea",
            method: "GET",
            success: function (response) {
                var areaDropdown = $("#areaId");
                areaDropdown.empty();  // 清空下拉框选项

                // 添加默认选项
                areaDropdown.append('<option value="">请选择产地</option>');

                // 将返回的数据列表添加到下拉框中
                response.forEach(function (area) {
                    areaDropdown.append('<option value="' + area.id + '">' + area.areaName + '</option>');
                });
            },
            error: function () {
                console.log("获取产地信息失败");
            }
        });
    });


    $(document).ready(function () {
        $("#otherCheckbox").change(function () {
            var otherDescription = $("#otherDescription");
            if (this.checked) {
                otherDescription.show();
            } else {
                otherDescription.hide();
            }
        });
    });

    /*通过ajax发送json提交请求，并且构造和后端接口一样的数据结构*/
    function submitForm() {
        // 阻止表单默认提交
        event.preventDefault();
        var name = $("#name").val();
        var areaId = $("#areaId").val();
        var img = $("#img").val();
        var specification = $("input[name='specification']").val();
        var features = $("input[name='features']:checked");
        var price = $("input[name='price']").val();
        var userId = $("input[name='userId']").val();
        var createTime = $("input[name='createTime']").val();
        var isPublic = $("input[name='isPublic']:checked").val();
        var otherDescription = $("#otherDescription").val();

        var featuresArray = [];
        // 去除features中的其他选项
        features.each(function () {
            featuresArray.push($(this).val());
        });
        featuresArray.pop();

        var product = {
            name: name,
            areaId: areaId,
            img: img,
            specification: specification,
            features: featuresArray,
            price: price,
            userId: userId,
            createTime: createTime,
            isPublic: isPublic,
            otherDescription: otherDescription
        };

        $.ajax({
            url: "/product/addProduct",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(product),
            success: function (response) {
                if (response.code === 200) {
                    alert("添加成功");
                    window.location.href = "/product/page/1";
                } else {
                    alert("添加失败");
                }
            },
            error: function () {
                alert("添加失败");
            }
        });
    }
</script>


</body>
</html>